.message {
  font-size: 16px;
  line-height: 24px;
  margin: 16px 0;
  padding: 0 20px;
}
.buttons {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .button {
    width: 100%;
    min-width: 200px;
    padding: 20px;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: bold;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { 
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .buttons {
    flex-direction: row;
    justify-content: space-between;
    .button {
      flex-basis: 47%;
    }
  }
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }